$media-360:  "screen and (min-width: 360px)";
$media-411:  "screen and (min-width: 411px)";
$media-480:  "screen and (min-width: 480px)";
$media-568:  "screen and (min-width: 568px)";
$media-640:  "screen and (min-width: 640px)";
$media-767:  "screen and (min-width: 767px)";
$media-960:  "screen and (min-width: 960px)";
$media-1024: "screen and (min-width: 1024px)";
$media-1280: "screen and (min-width: 1280px)";

$media-height-short:     "screen and (max-height: 479px)";
