// text.base
//
// base classes for the text module.
//
// Markup: tests/fixtures/text.hbs
//
// Styleguide modules.text
.text {
  display: block;
  font-size: 0.85rem;
  font-weight: 200;
  line-height: 1.314159265;
  margin-bottom: 0.5rem;
  padding: 0;
}
