// text.layout
//
// layout classes for the text module.
//
// Markup: tests/fixtures/text.hbs
//
// Styleguide modules.text.layout
.text-l-left {
  text-align: left;
}

.text-l-center {
  text-align: center;
}

.text-l-right {
  text-align: right;
}
