// link.base
//
// base classes for the link module.
//
// Markup: tests/fixtures/link.hbs
//
// Styleguide modules.link
.link {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
